:root{
    --rj-c:rgba(205,0,0,1);
    --rjo-c:rgba(105,0,0,1);
    --vd-c:rgba(0,205,0,1);
    --amrl-c:rgba(205,205,0,1);
    --bc-c:rgba(255,255,255,1);
    --g-c:rgba(155,155,155,1);
    --ng-c:rgba(0,0,0,1);
    --ngt-c:rgba(0,0,0,.5);
    --azl-c:rgba(0,0,205,1);
}
*{
    font-display:swap;
    margin:0;padding:0;
    box-sizing:border-box;
}
html{
    scroll-timeline:--page-scroll block;
}
.progressBar{
    z-index:10000000;
    position:fixed;
    top:0;left:0;
    width:100%;height:7px;
    background:var(--vd-c);
    animation:grow-progressBar auto linear;
    animation-timeline:--page-scroll;
    transform-origin:0 50%;
}
@keyframes grow-progressBar{
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(1);
    }
}
body{
    background:url(fondo.webp);
    font-family:sans-serif;
    background-size:cover;
    width:100%;height:100%;
    background-position:center;
    background-attachment:fixed;
}
.main{
    width:60dvw;
    padding:2dvw;
}
.parrafos{
    font-size:1.7rem;
    color:var(--bc-c);
}
.header{
    display:flex;
    justify-content:center;align-items:center;
    z-index:1000;
    width:100%;height:70px;
    background:var(--rj-c);
    position:sticky;
    top:0;
}
.nav__header{
    width:100%;
}
.ul__nav{
    display:flex;justify-content:space-evenly;
}
.a__li{
    text-shadow:0 10px 10px var(--ng-c);
    font-size:clamp(.9rem,1.5dvw,1.7rem);
    font-weight: 1000;
    color:var(--bc-c);
    text-decoration:none;
    position:relative;
}
.li__ul{
    cursor:pointer;
    list-style:none;
    &:hover .a__li{
        text-shadow: 0 13px 10px #000;
        color:var(--vd-c);
        top:-3px;
        }
    }
.articulo{
    display:flex;
    flex-direction:column;
}
.height0{
    height:0;
}

.seccion{
    margin-bottom:100px;
    display:flex;
    border-bottom:2px solid var(--rj-c);
    border-top:2px solid var(--rj-c);
    background:var(--ngt-c);
    padding:10px;
    & picture{
        width:100%;
        display:flex;
        justify-content:center;
        position:relative;
        bottom:-25px;
    }
    & img{
        view-timeline-name:--reveal-img;
        view-timeline-axis:block;
        animation:revealimg linear both;
        animation-timeline:--reveal-img;
        animation-range:cover 30% cover 50%;
        border-bottom:4px solid var(--rj-c);
        border-radius:17px;
        object-fit:content;
        width:clamp(100px,30dvw,1000px);height:clamp(100px,30dvw,1000px);
    }
    & div{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        padding:10px;
        & h2{
            font-size:clamp(1.4rem,6dvw,2.2rem);
            color:var(--amrl-c);
        }
        & p{
            font-size:clamp(.9rem,4dvw,1.4rem);
        }
    }
}
@keyframes revealimg{
    from{
        opacity:0;
        clip-path:inset(0% 70% 0% 70%);
    }
    to{
        opacity:1;
        clip-path:inset(0% 0% 0% 0%);
    }
}
@keyframes revealtxt{
    from{
        transform:translateY(-200px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        opacity:1;
    }
}
.divsection{
    width:90%;
}
.caratula{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:90dvh;
    padding:clamp(30px,5dvw,100px);
    & img{
        width:100%;
        position:absolute;
        height:100%;
    }
    & h2{
        z-index:10;
        font-weight:500;
        font-family:"Black Ops One", sans-serif;
        user-select:none;
        text-align:center;
        font-size:clamp(1.4rem,17dvw,12rem);
        background:url(radiant.webp);
        background-size:auto;
        -webkit-text-stroke:2px;
        -webkit-text-fill-color:transparent;
        -webkit-background-clip:text;
    }
    & p, h1{
        max-width:1024px;
        z-index:10;
        text-align:center;
        user-select:none;
    }
    & p{
        color:var(--bc-c);
        font-size:clamp(1.4rem,4dvw,2rem);
    }
    & h1{
        color:var(--vd-c);
        font-size:clamp(1.4rem,5dvw,3rem);
    }
}
@keyframes reveal{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.footer{
    text-align:center;
    width:100%;
    height:max-content;
    background:var(--ng-c);
    color:var(--bc-c);
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px 20px;
    font-size:clamp(.9rem,2dvw,1.4rem);
}
.main-wrapper{
    display:flex;
    margin-bottom:100px;
    justify-content:center;
}
.indice, .sombraindice{
    margin:0;
    font-size:clamp(4rem,4dvw,6rem);
    user-select:none;
}
.indice{
    color:var(--ng-c);
    animation:animateindice infinite ease-in-out 1s;
}
.sombraindice{
    font-weight:1000;
    text-shadow:0 0px 60px var(--ng-c);
    color:transparent;
    animation:animateindicesombra infinite ease-in-out 1s;
}
.container__indice{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
@keyframes animateindice{
    0%{
        transform:translateY(-5px);
    }
    50%{
        transform:translateY(5px);
    }
    0%{
        transform:translateY(0px);
    }
}
@keyframes animateindicesombra{
    0%{
        text-shadow:0 0px 60px var(--ng-c);
    }
    50%{
        text-shadow:0 0px 50px var(--ng-c);
    }
    0%{
        text-shadow:0 0px 60px var(--ng-c);
    }
}
.aside-indice{
    height:80dvh;
    min-width:20%;
    margin-top:2dvh;
    position:sticky;
    top:110px;
}
.seccionind{
    background:var(--rj-c);
    border-bottom:2px solid var(--ng-c);
    border-top:2px solid var(--ng-c);
    flex-wrap:wrap;
}
.ul__div{
    flex-direction:column;
    width:40%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}
.li__ulindice{
    list-style:none;
}
.div__seccion{
    font-family:"Protest Riot", sans-serif;
    display:flex;flex-direction:column;
    padding:10px;
    justify-content:space-evenly;
    gap:5dvh;
    height:100%;
    width:100%;
    animation:revealind both;
    animation-range:cover 0% cover 10%;
    animation-timeline:--reveal;
    animation-timeline:scroll();
    view-timeline-axis:--reveal;
}
@keyframes revealind{
    from{
        opacity:0;
        transform:translateX(-200px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}
.a__liindice{
    text-wrap:nowrap;
    font-family: "Protest Riot", sans-serif;
    font-size:clamp(1.5rem,2dvw,2rem);
    background:var(--rjo-c);
    padding:4px;
    text-decoration:none;
    color:var(--bc-c);
    &:hover{
        transform:translateX(4px);
        color:var(--ng-c);
        background:var(--vd-c);
    }
}
.scrolltop{
    z-index:10000;
    user-select:none;
    position:fixed;
    left:5px;
    bottom:10px;
    background:var(--bc-c);
    border-radius:50%;
    border:7px solid var(--ng-c);
    animation:reveal 1s .5s linear both;
    & a{
        font-weight:1000;
        font-size:5rem;
        text-decoration:none;
        color:var(--ng-c);
    }
    &:hover{
        background:var(--vd-c);
    }
}
.header__responsive{
    z-index:1000;
    display:none;
    position:sticky;
    top:0;
    width:100%;
    background:var(--rj-c);
    height:100px;
    justify-content:center;
    align-items:center;
}
.nav__responsive{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:end;
}
.label__toggle{
    border-radius:8px;
    z-index:1000;
    padding:8px;
    right:30px;
    position:relative;
    background:var(--rj-c);
}
.menu__responsive{
    width:max-content;
    height:max-content;
    cursor:pointer;
    display:flex;
    gap:10px;
    flex-direction:column;
    & div{
        border-radius:14px;
        height:12px;
        width:70px;
        background:var(--ng-c);
    }
}
.responsive__checkbox{
    display:none;
}
#responsive__checkbox:checked ~ .ulmenu__responsive{
    top:0;
}
.nav__responsive:has(input[type="checkbox"]:checked) .linea__responsive:first-child{
    transform:rotate(45deg) translateY(16px) translateX(16px);
}
.nav__responsive:has(input[type="checkbox"]:checked) .linea__responsive:nth-child(2){
    opacity:0;
}
.nav__responsive:has(input[type="checkbox"]:checked) .linea__responsive:last-child{
    transform:rotate(-45deg) translateY(-16px) translateX(16px);
}
.ulmenu__responsive{
    user-select:none;
    position:absolute;
    width:100%;
    background:var(--rjo-c);
    height:100dvh;
    top:-2800px;
    & .divcenter__responsive{
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        gap:150px;
        & .li__responsive{
        list-style:none;
        text-align:center;
            & .a__responsive{
                font-size:1.2rem;
                text-decoration:none;
                color:var(--bc-c);
                &:hover{
                    color:var(--ng-c);
                }
            }
        }
    }
}
.ulmenu__nav{
    width:90vw;
    background:var(--rj-c);
    margin:100px 0 0 0;
    transform:translateY(-220px);
}


.aviso{
    background:var(--bc-c);
    color:var(--rj-c);
    position:fixed;
    font-size:clamp(.5rem,7dvw,2rem);
    right:10px;
    bottom:10px;
    z-index:10000;
    animation:reveal 1s .5s linear both;
}
.aside-indice input[type="checkbox"]{
    display:none;
}
.aside-indice label{
    user-select:none;
    font-size:6rem;
    font-weight:1000;
    background:var(--rj-c);
    border-radius:50%;
    border:7px solid var(--ng-c);
    animation:reveal 1s .5s linear both;
}
.thingsofindicesidebar{
    z-index:10000;
    display:none;
}
.aside-indice:has(input[type="checkbox"]:checked){
    left:0px;
}
.aside-indice:has(input[type="checkbox"]:checked) label{
    rotate:180deg;
}
.centerprox{
    display:flex;justify-content:center;align-items:center;
    height:70dvh;
}
.prox{
    user-select:none;
    font-size:clamp(2rem,10dvw,10rem);
    font-family:'Protest Riot';
    color:var(--rj-c);
}
.activepage::before{
    content:'\25b6';
    color:var(--vd-c);
}


@media (max-width:1165px){
    .main{
        width:100dvw;
    }
    .thingsofindicesidebar{
        display:block;
    }
    .seccionind{
        padding:20px;
    }
    .aside-indice{
        height:70dvh;
        display:flex;
        top:150px;
        position:fixed;
        left:-350px;
        z-index:1000;
        align-items:center;
        gap:1dvw;
        width:60dvw;
    }
    .div__seccion{
        animation-timeline:none;
    }
    .header{
        display:none;
    }
    .header__responsive{
        display:block;
    }
    .secimgizq{
        flex-direction:column-reverse;
    }
    .secimgder{
        flex-direction:column;
    }
    .seccion img{
        width:80%;
    }
    div section{
        align-items:center;
    }
}