:root{
    --rj-c:rgba(205,0,0,1);
    --rjo-c:rgba(105,0,0,1);
    --vd-c:rgba(0,205,0,1);
    --amrl-c:rgba(205,205,0,1);
    --bc-c:rgba(255,255,255,1);
    --g-c:rgba(155,155,155,1);
    --ng-c:rgba(0,0,0,1);
    --ngt-c:rgba(0,0,0,.5);
    --azl-c:rgba(0,0,205,1);
}
*{
    margin:0;padding:0;
    box-sizing:border-box;
}
html{
    scroll-timeline:--page-scroll block;
}
.progressBar{
    z-index:10000000;
    position:fixed;
    top:0;left:0;
    width:100%;height:7px;
    background:var(--vd-c);
    animation:grow-progressBar auto linear;
    animation-timeline:--page-scroll;
    transform-origin:0 50%;
}
@keyframes grow-progressBar{
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(1);
    }
}
body{
    background:url(fondo.jpg);
    font-family:sans-serif;
    margin:70px 0 0 0;
    background-size:cover;
    width:100%;height:100%;
    background-position:center;
    background-attachment:fixed;
}
.main{
    padding:2dvw;
}
.parrafos{
    font-size:1.7rem;
    color:var(--bc-c);
}
.header{
    display:flex;
    justify-content:center;align-items:center;
    z-index:1000000;
    width:100%;height:70px;
    background:var(--rj-c);
    position:fixed;
    top:0;
    animation:reveal 1s -0.3s both;
}
.nav__header{
    width:100%;
}
.ul__nav{
    margin:0;padding:0;
    display:flex;justify-content:space-evenly;
}
.a__li{
    text-shadow:0 10px 10px var(--ng-c);
    transition:transform 0.5s ease, text-shadow 0.5s ease;
    font-size:clamp(.9rem,1.5dvw,1.7rem);
    font-weight: 1000;
    color:var(--bc-c);
    text-decoration:none;
}
.li__ul{
    list-style:none;
    transition:transform 0.5s;
    &:hover{
        transform:translatey(-4px);
        &>.a__li{
            text-shadow: 0 13px 10px #000;
            color:var(--vd-c);
        }
    }
}
.articulo{
    display:flex;
    flex-direction:column;
    width:100%;
}

.seccion{
    margin-bottom:10dvh;
    width:100%;
    display:flex;
    justify-content:space-between;
    border-bottom:2px solid var(--rj-c);
    border-top:2px solid var(--rj-c);
    background:var(--ngt-c);
    & img{
        view-timeline-name:--reveal-img;
        view-timeline-axis:block;
        animation:revealimg linear both;
        animation-timeline:--reveal-img;
        animation-range:cover 30% cover 50%;
        border-bottom:4px solid var(--rj-c);
        border-radius:17px;
        object-fit:content;
        width:clamp(20dvw,50%,50dvw);height:clamp(20dvh,100%,50dvh);
        transform:translateY(2dvh);
    }
    & div{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
        padding:10px;
        & h2{
            font-size:clamp(1.3rem,2rem,5rem);
            color:var(--amrl-c);
        }
        & p{
            font-size:clamp(1.2rem,2rem,4rem);
        }
    }
}
@keyframes revealimg{
    from{
        opacity:0;
        clip-path:inset(0% 70% 0% 70%);
    }
    to{
        opacity:1;
        clip-path:inset(0% 0% 0% 0%);
    }
}
@keyframes revealtxt{
    from{
        transform:translateY(-200px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        opacity:1;
    }
}
.divsection{
    width:90%;
}
.div__caratula{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:60px;
    background:url(caratula1.jpg);
    background-position:center;
    background-repeat:no-repeat;
    height:100%;
    animation:reveal 1.7s linear;
    & h2{
        font-weight:500;
        font-family:"Black Ops One", sans-serif;
        user-select:none;
        text-align:center;
        font-size:clamp(1.4rem,17dvw,12rem);
        background:url(radiant.png);
        background-size:auto;
        -webkit-text-stroke:2px;
        -webkit-text-fill-color:transparent;
        -webkit-background-clip:text;
    }
    & p{
        -webkit-text-stroke:1px var(--ng-c);
        color:var(--bc-c);
        font-size:clamp(1.4rem,4dvw,2rem);
        text-align:center;
    }
    & h1{
        color:var(--vd-c);
        user-select:none;
        font-size:clamp(1.4rem,5dvw,3rem);
        text-align:center;
    }
}
@keyframes reveal{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.seccioncon{
    box-shadow:0 0 70px var(--g-c);
    padding:37px;
    margin:70px 0;
    background:var(--rjo-c);
    & div h2{
        user-select:none;
        color:var(--bc-c);
        font-size:clamp(.9rem,2dvw,3rem);
        text-align:center;
        margin:0;
    }
    & div p{
        color:var(--bc-c);
        font-size:clamp(.9rem,1.5dvw,2rem);
        text-wrap:balance;
        text-align:center;
    }
}
.footer{
    width:100%;
    height:100px;
    background:var(--ng-c);
    color:var(--bc-c);
    display:flex;
    justify-content:center;
    align-items:center;
}
.main-wrapper{
    display:flex;
    max-width:80%;
}
.indice, .sombraindice{
    margin:0;
    font-size:clamp(5rem,6dvw,9rem);
    user-select:none;
}
.indice{
    color:var(--ng-c);
    animation:animateindice infinite ease-in-out 1s;
}
.sombraindice{
    font-weight:1000;
    text-shadow:0 0px 60px var(--ng-c);
    color:transparent;
    animation:animateindicesombra infinite ease-in-out 1s;
}
.container__indice{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
@keyframes animateindice{
    0%{
        transform:translateY(-5px);
    }
    50%{
        transform:translateY(5px);
    }
    0%{
        transform:translateY(0px);
    }
}
@keyframes animateindicesombra{
    0%{
        text-shadow:0 0px 60px var(--ng-c);
    }
    50%{
        text-shadow:0 0px 50px var(--ng-c);
    }
    0%{
        text-shadow:0 0px 60px var(--ng-c);
    }
}
.aside-indice{
    height:80dvh;
    width:50dvw;
    margin-top:2dvh;
    position:sticky;
    top:110px;
}
.seccionind{
    background:var(--rj-c);
    border-bottom:2px solid var(--ng-c);
    border-top:2px solid var(--ng-c);
    flex-wrap:wrap;
}
.ul__div{
    flex-direction:column;
    width:40%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}
.li__ulindice{
    list-style:none;
}
.div__seccion{
    font-family:"Protest Riot", sans-serif;
    display:flex;flex-direction:column;
    padding:10px;
    justify-content:space-evenly;
    gap:5dvh;
    height:100%;
    width:100%;
    animation:revealind both;
    animation-range:cover 0% cover 10%;
    animation-timeline:--reveal;
    animation-timeline:scroll();
    view-timeline-axis:--reveal;
}
@keyframes revealind{
    from{
        opacity:0;
        transform:translateX(-200px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
}
.a__liindice{
    text-wrap:nowrap;
    font-family: "Protest Riot", sans-serif;
    font-size:clamp(1.6rem,2rem,2.1rem);
    background:var(--rjo-c);
    padding:4px;
    text-decoration:none;
    color:var(--bc-c);
    &:hover{
        transform:translateX(4px);
        color:var(--ng-c);
        background:var(--vd-c);
    }
}
.scrolltop{
    user-select:none;
    position:fixed;
    right:5px;
    bottom:140px;
    background:var(--bc-c);
    width:max-content;
    padding:3px;
    border-radius:50%;
    animation:animateindice infinite 1.5s;
    & a img{
        width:clamp(.9rem,10dvw,7rem);
    }
    & a{
        display:flex;
    }
    &:hover{
        background:var(--vd-c);
    }
}
.header__responsive{
    z-index:10000;
    display:none;
    position:fixed;
    top:0;
    width:100%;
    background:var(--rj-c);
    height:150px;
    justify-content:end;
    align-items:center;
    animation:reveal 0.7s -0.3s linear;
}
.nav__responsive{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content:end;
}
.label__toggle{
    border-radius:8px;
    z-index:1000;
    padding:8px;
    width:116px;
    height:92px;
    position:relative;
    right:40px;
    background:var(--rj-c);
}
.menu__responsive{
    width:max-content;
    height:max-content;
    cursor:pointer;
    display:flex;
    gap:20px;
    flex-direction:column;
    & div{
        border-radius:14px;
        height:12px;
        width:100px;
        background:var(--ng-c);
    }
}
.responsive__checkbox{
    display:none;
}
#responsive__checkbox:checked~.ulmenu__responsive{
    top:0;
}
.ulmenu__responsive{
    position:absolute;
    width:100%;
    background:var(--rjo-c);
    height:100vh;
    align-items:center;
    justify-content:center;
    top:-2300px;
    transition: top 0.5s;
    & .divcenter__responsive{
        display:flex;
        flex-direction:column;
        gap:150px;
        & .li__responsive{
        list-style:none;
        text-align:center;
            & .a__responsive{
                font-size:6rem;
                text-decoration:none;
                color:var(--bc-c);
                &:hover{
                    color:var(--ng-c);
                }
            }
        }
    }
}
.ulmenu__nav{
    width:90vw;
    background:var(--rj-c);
    margin: 100px 0 0 0;
    transform:translateY(-220px);
}


.aviso{
    background:var(--bc-c);
    border-radius:1dvw;
    color:var(--rj-c);
    position:fixed;
    font-size:clamp(1.3rem,7dvw,6rem);
    right:10px;
    bottom:10px;
}

.h1boost{
    font-family:"Black Ops One", sans-serif;
    font-size:10rem;
    color:var(--vd-c);
    -webkit-text-stroke:1px var(--bc-c);
    user-select:none;
}
.articleboost{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.aside-indice input[type="checkbox"]{
    display:none;
}
.aside-indice label{
    user-select:none;
    font-size:clamp(12rem,11dvw,16rem);
    background:var(--rj-c);
    border-radius:50%;
    border:4px solid var(--ng-c);
    transition:rotate .5s;
}
.thingsofindicesidebar{
    display:none;
}
.aside-indice:has(input[type="checkbox"]:checked){
    left:0px;
}
.aside-indice:has(input[type="checkbox"]:checked) label{
    rotate:180deg;
}



@media (max-width:1165px){
    .div__caratula{
        margin-top:150px;
    }
    .indice, .sombraindice{
        font-size:clamp(7rem,8dvw,11rem);
    }
    .main-wrapper{
        max-width:100%;
    }
    .a__liindice{
        font-size:clamp(2rem,4rem,6rem);
    }
    .thingsofindicesidebar{
        display:block;
    }
    .seccionind{
        padding:20px;
    }
    .aside-indice{
        height:70dvh;
        transition:left .5s;
        display:flex;
        top:150px;
        position:fixed;
        left:-800px;
        z-index:1000;
        align-items:center;
        gap:1dvw;
        width:60dvw;
    }
    .div__seccion{
        animation-timeline:none;
    }
    .header{
        display:none;
    }
    .header__responsive{
        display:block;
    }
    .secimgizq{
        flex-direction:column-reverse;
    }
    .secimgder{
        flex-direction:column;
    }
    .seccion img{
        width:80%;
    }
    div section{
        align-items:center;
    }
    .scrolltop a img{
        width:clamp(13rem,16dvw,18rem);
    }
}